<div class="row">
  <div class="col-auto">
  </div>
</div>

<table id="parkingSlots" class="table table-striped table-bordered" style="width:100%">
  <thead>
      <tr>          
          <th>Parking Spot Address</th>
          <th>Location Tagging</th>
      </tr>
  </thead>
  
  {{#each parkingSlotsInfo as |parkingSlotInfo|}}
  <tbody>
      <tr>
          <td>{{parkingSlotInfo.address.slotNo}}, {{parkingSlotInfo.address.street_number}} {{parkingSlotInfo.address.street_name}}, {{parkingSlotInfo.address.suburb}}, {{parkingSlotInfo.address.state}}-{{parkingSlotInfo.address.postcode}}</td>
          <td>
              {{parkingSlotInfo.locationTags.locationTag}}
          </td>
          <td>
            <button type="click" class="btn btn-success"  id="edit_parkingSlotInfo" data-id={{parkingSlotInfo.id}}>Edit</button>
            <button type="click" class="btn btn-success"  id="details_parkingSlotInfo" data-id={{parkingSlotInfo.id}}>Details</button>
         </td>
      </tr>  
  </tbody>
  {{/each}}
</table>


<script src="/js/dashboard.js"></script>