<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
      <tr>
          <th>Parking Spot Address</th>
          <th>Date</th>
          <th>Rate</th>
          <th>Book now</th>
      </tr>
  </thead>
  {{#each parkingSlots as |parkingSlot|}}
  <tbody>
      <tr>
          <td>{{parkingSlot.address.slotNo}}, {{parkingSlot.address.street_number}} {{parkingSlot.address.street_name}}, {{parkingSlot.address.suburb}}, {{parkingSlot.address.state}}-{{parkingSlot.address.postcode}}</td>
          <td>{{parkingSlot.parkingSlotDates.date}}</td>
          <td>{{parkingSlot.rate}}</td>
          <td><button type="click" class="btn btn-success"  id="bookaspot" data-id={{parkingSlot.id}} data-date={{parkingSlot.parkingSlotDates.date}} data-rate={{parkingSlot.rate}}>Book Now</button></td>
      </tr>
  </tbody>
  {{/each}}
    <tfoot>
        <tr>
            <th>Parking Spot Address</th>
            <th>Date</th>
            <th>Rate</th>
            <th>Book now</th>
        </tr>
    </tfoot>
</table>

<script src="/js/bookaspot.js"></script>